* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    font-family: 'Nunito', sans-serif
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

label {
    width: 100%;
}

details {
    border: 1px solid #D1D1D1;
    padding: .5em .5em 0;
}

summary {
    color: #444444;
    font-weight:normal;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: .5em;
}

.custom-card {
    max-width: 800px;
    flex: 1 1 50%;
    position: relative;
    /*border: 1px solid #efefef;*/
    transition: all 0.3s ease;
    position: relative;
    margin: 10px auto;
}

/*
.custom-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075);
}
*/


.custom-card-panel {
    color: #444444;
    padding: 30px 30px 30px 30px;
}

.card-caption {
    padding: 0px 0px 0px 0px;
}

div.inside-card-separator-15 {
    padding: 0px 0px 15px 0px;
}

div.inside-card-separator-30 {
    padding: 0px 0px 30px 0px;
}

div.inside-card-separator-60 {
    padding: 0px 0px 60px 0px;
}

.custom-navigation-panel {
    color: #444444;
    padding: 30px 30px 0px 30px;
}

.custom-button {
    display: inline-block;
    font-size: 1rem;
    background: #e76c67;
    border: 1px solid #e76c67;
    padding: 0.25rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

button.nav-button {
    border: 1px solid black;
    margin-right: 3px;
    outline: none;   /* Removes focus-frame */
}

button.nav-button-active {
    background-color: white;
    border-bottom: 1px solid white;
}

hr.nav-separator {
    border-top: 1px solid black;
    border-bottom: 0px solid black;
    margin-top: -1px;
}

.external-link a {
    outline: none;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 3px 3px;
}

.external-link a:link,
.external-link a:visited,
.external-link a:focus {
    background: #68c6df;
}

.external-link a:hover {
    background: #54b2cb;
}

.tag-label {
    display: inline-block;
    color: white;
    background-color: gray;
    padding: 3px 8px;
    margin: 3px;
}

.tag-label-list {}

.quote-text {
    column-count: 2;
    column-width: 300px;
    column-gap: 30px;
    text-align: justify;
}

.quote-component {
    padding: 0px 0px 0px 0px;
}

author-details {}

book-details {}

date-details {}
