* {
    box-sizing: border-box;
}

html {
    line-height: 1.6;
    font-family: 'Nunito', sans-serif
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

.card {
    max-width: 800px;
    flex: 1 1 50%;
    position: relative;
    border: 1px solid #efefef;
    transition: all 0.3s ease;
    position: relative;
    margin: 0 auto;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.075);
}

.card-content {
    color: #444444;
    padding: 30px 30px 30px 30px;
}

.card-caption {
    padding: 0px 0px 0px 0px;
}

div.inside-card-separator-15 {
    padding: 0px 0px 15px 0px;
}

div.inside-card-separator-30 {
    padding: 0px 0px 30px 0px;
}

div.inside-card-separator-60 {
    padding: 0px 0px 60px 0px;
}

.navigation-panel {
    color: #444444;
    padding: 30px 30px 0px 30px;
}

.button {
    display: inline-block;
    font-size: 1rem;
    background: #e76c67;
    border: 1px solid #e76c67;
    padding: 0.25rem 1rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

button.nav-button {
    border: 1px solid black;
    margin-right: 3px;
    /*border-top-right-radius: 5px;*/
}

button.nav-button-active {
    background-color: white;
    border-bottom: 1px solid white;
}

hr.nav-separator {
    border-top: 1px solid black;
    border-bottom: 0px solid black;
    margin-top: -4px;
}

.external-link a {
    outline: none;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 3px 3px;
}

.external-link a:link,
.external-link a:visited,
.external-link a:focus {
    background: #68c6df;
}

.external-link a:hover {
    background: #54b2cb;
}

.label {
    display: inline-block;
    color: white;
    padding: 3px 8px;
    margin: 3px;
}

.label-info {
    background-color: gray;
}

.quote-text {
    column-count: 2;
    column-width: 300px;
    column-gap: 30px;
    text-align: justify;
}



.collapsible-control {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible-content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}